<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Rebex.Common" version="2.5.6565" targetFramework="net35" />
  <package id="Rebex.Networking" version="3.5.6565" targetFramework="net35" />
  <package id="Rebex.SshShell" version="1.0.6565" targetFramework="net35" />
  <package id="Rebex.Terminal" version="1.0.6565" targetFramework="net35" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net35" />
</packages>